<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Oru Chat</title>
    <link href="../Content/authorization.css" rel="stylesheet">
    <script src="../Scripts/Libs/jquery-1.6.4.min.js"></script>
    <script src="../Scripts/authorization.js"></script>
</head>

<body>
    <H1>Welcome to OruChat!</H1>
    <div id="authorization">
        <p>Tell us your name to enter the chatroom:</p>
        <form name="authorize" id="authorize">
            <input name="userNameField" type="text" id="username">
        </form>
        <br>
        <button type="submit" class="btn btn-success " id="submituser">Start</button>
    </div>
</body>
</html>